<footer class="site-footer">

  <br>
  <br>

  <div class="columns">

    <div class='column-1-2'>
      <h3>Education<h3>
    </div>

    <div class='column-1-2'>

      <h4>PhD Nanotechnology</h4>
      Northeastern University | Spring 2011
      <br>
      <h4>MS Physics</h4>
      Clark University | Summer 2004
      <br>
      <h4>BS Physics</h4>
      Sharif University of Technology | Fall 2001
    </div>

  </div>

  <div class=''>
    <h3>Academic Publications<h3>
  </div>

  <br>
  <br>

</footer>
